<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title><%= product.name %></title>
</head>

<body>
	<%- include('partials/header') %>
	<h1><%= product.name %></h1>
	<h6><%= product.category.name %></h6>
	<p><%= product.description %></p>
	<p><%= product.price %></p>
	<p>In Stock: <%= product.stock %></p>
	<form method="get">
		<button formaction="/products">
			Back to Products
		</button>
	</form>
	<form method="post">
		<button formaction="/product/<%= product.id %>/delete">
			Delete
		</button>
		<button formaction="/product/<%= product.id %>/update">
			Update
		</button>
	</form>

</body>

</html>