<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Products</title>
</head>

<body>
	<%- include('partials/header') %>
	<h1><%= heading %></h1>
	<% products.forEach(product => { %>
	<div>
		<h2><%= product.name %></h2>
		<h6><%= product.category.name %></h6>
		<p><%= product.description %></p>
		<p><%= product.price %></p>
		<p>In Stock: <%= product.stock %></p>
	</div>
	<% }) %>

</body>

</html>